# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Teemac\TestCodeCamp_Programme\Submissions\SeleniumWebdriverTests\SinglePage_Task\Facebook\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
